<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CaurixTemplateOperator.CaurixTemplate" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><userSettings>
        <CaurixTemplateOperator.CaurixTemplate>
            <setting name="ServerAddress" serializeAs="String">
                <value>68.178.143.107</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>inscritcaurix</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>inscritcaurix</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Caurix123!</value>
            </setting>
            <setting name="EmailSender" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailReceiver" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeToRestart" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="TimeToDeferEmail" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IdsToSkip" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableLoadingImagesFromEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplacementJson" serializeAs="String">
                <value>{"elem":[{"key":"Prenom","value":"PPPPPP"},{"key":"Nom","value":"NNNNNN"},{"key":"MSIDN","value":"TTTTTT"},{"key":"NationalIDN","value":"IIIIII"},{"key":"Date_Naissance","value":"DDDDDD"},{"key":"adresse","value":"AAAAAA"},{"key":"Ville","value":"VVVVVV"},{"key":"Place_of_Birth","value":"LLLLLL"},{"key":"email","value":"EEEEEE"}]}</value>
            </setting>
            <setting name="PathSaveTo" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpConnectionJson" serializeAs="String">
                <value />
            </setting>
        </CaurixTemplateOperator.CaurixTemplate>
    </userSettings>
</configuration>